@import "../components/variables";

.Reserve {
    @include flexwrap();
    background-color:rgb(243, 243, 243);
    padding-bottom: 10%;
        .menu {
            @include flexwrap();
                h2 {
                    text-align: center;
                    padding: 5% 20% 0% 20%;
                }
        }

        .description {
            @include flexwrap();
                p {
                    text-align: center;
                    padding: 0% 10% 3% 10%;
                }
        }

        .explorer {
            @include primarybtn();
        }
}