@import "../components/variables";

footer {
    @include blockcolumn();
    background-color: rgba(14, 11, 11, 0.753);
    color: white;

    
    .footer {
        @include blockcolumn();

        .titre-footer {
            @include blockcolumn();
            padding-left: 8%;
            
            h5 {
                margin: 0;
            }
        }
    }

    .liste-footer {
        @include flexrow();

        .end {
            @include blockcolumn();

            .li-1 {
                @include flexrowstart();
                
                i {
                    padding-right: 10px;
                }
            }

            .li-2 {
                @include flexrowstart();
                i {
                    padding-right: 10px;
                }
            }

            .li-3 {
                @include flexrowstart();
            }

            .li-4 {
                @include flexrowstart();
            }
        }
    }

}
