@import "../components/variables";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .titre-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}