@import "../components/variables";

@media all and (min-width: 768px) {
    body {
        width: 100%;

        header {
            .localisation {
                margin-bottom: 5%;
                min-width: 768px;
                gap: 2%;
            }
        }

    }

    .article {

        .cards-restaurants {
            row-gap: 2.5rem;
            justify-content: space-evenly;
        }
    }

    .footer {
        margin-top: 5%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10%;

        .titre-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .end {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 20%;
        }

    }

}