@import "../components/variables";

@media all and (min-width: 768px) {
    body {
        width: 100%;

        header {
            .navbar {
                .localisation {
                    margin-bottom: 5%;
                    gap: 2%;
                }
            }
        }
    }

    .Reserve {
        padding-bottom: 80px;
    }

    .fonctionnement-wrap {
        justify-content: center;
        padding-bottom: 50px;

        .title-fonctionnement {
            padding-left: 0;
        }
    }

    .article {

        .cards-restaurants {
            row-gap: 2.5rem;
            justify-content: space-evenly;


        }
    }

    .footer {
        margin-top: 5%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10%;

        .titre-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .end {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 20%;
        }

    }

}