@import "../components/variables";

@media all and (min-width: 1100px) {

    body {
        width: 100%;

        header {
            
            .localisation {
                margin-bottom: 5%;
                min-width: 1100px;
                gap: 2%;
            }
        }
    }

}