@import "../components/variables";

body {
    margin: auto;
    background-color: rgb(243, 243, 243);
}

header {
    @include flexwrap();

    .title {
        @include flexwrap();

        .logo {
            width: 50%;
        }
    }
}

.menuz {
    margin-bottom: 20%;

    .accueil {
        @include flexwrap();

        .photoacc {
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
    }

}

section {
    @include blockcolumn();


    .titremenu1 {
        @include flexwrap();
        justify-content: space-around;

        h1 {
            @include flexwrap();
        }

        i {
            @include flexwrap();
        }
    }

    .menus {
        @include flexcolumn();
        row-gap: 15px;


        .titremenus {
            @include flexwrap();

            h3 {
                @include flexwrap();
            }
        }

        .texte {
            @include flexwrap();
            justify-content: space-between;
            background-color: white;
            width: 290px;
            border-radius: 20px;
            gap: 40%;
            box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 2px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 5%), 0 8px 8px rgb(0 0 0 / 5%), 0 16px 16px rgb(0 0 0 / 5%);

            .boold {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0;
                font-weight: bold;
                padding: 5px;
            }

            .middle {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 5px;
                font-size: small;
            }

            .prix {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 5px;
            }
        }

    }
}

.commander {
    @include flexwrap();
    margin-top: 20%;

    .order {
        @include primarybtn();
        max-width: 380px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 2px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 5%), 0 8px 8px rgb(0 0 0 / 5%), 0 16px 16px rgb(0 0 0 / 5%);
    }
}