@import "../components/variables";

body {
    margin: auto;
}

header {
    @include flexwrap();

    .title {
        @include flexwrap();

        .logo {
            width: 50%;
        }
    }
}

.accueil {
    @include flexwrap();

    .photoacc {
        @include cover();
        height: 100%;
        width: 100%;
    }
}


.menu {
    background-color: rgb(243, 243, 243);
}




.commander {
    @include flexwrap();
    margin-top: 20%;

    .order {
        @include primarybtn();
        max-width: 380px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 2px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 5%), 0 8px 8px rgb(0 0 0 / 5%), 0 16px 16px rgb(0 0 0 / 5%);
    }
}