@import "../components/variables";

body {
    margin: auto;
    background-color: rgb(243, 243, 243);
}

header {
    @include flexwrap();

    .title {
        @include flexwrap();

        .logo {
            width: 50%;
        }
    }
}

.menuz {
    margin-bottom: 20%;

    .accueil {
        @include flexwrap();

        .photoacc {
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
    }

}

section {
    @include blockcolumn();


    .titremenu1 {
        font-family: shrikhand;
        @include flexwrap();
        justify-content: space-around;
        font-weight: 100;

        h1 {
            @include flexwrap();
        }

        i {
            @include flexwrap();
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }
    }

    .menuswrapper {
        @include flexcolumn();


        .menus {
            @include flexcolumn();
            row-gap: 15px;



            .titremenus {
                display: flex;
                align-items: center;
                justify-content: center;




                h2 {
                    padding-right: 225px;
                    font-size: medium;
                    margin: 0;
                }

                h3 {
                    padding-right: 240px;
                    font-size: medium;
                    margin: 0;
                }

                h4 {
                    padding-right: 210px;
                    font-size: medium;
                    margin: 0;
                }
            }

            .texte {
                @include flexcolumn();
                position: relative;
                background-color: white;
                align-items: start;
                padding-left: 20px;
                width: 290px;
                height: 60px;
                border-radius: 15px;
                box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 2px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 5%), 0 8px 8px rgb(0 0 0 / 5%), 0 16px 16px rgb(0 0 0 / 5%);

                .boold {
                    margin: 0;
                    font-weight: bold;
                    padding-right: 80px;
                }

                .middle {
                    margin: 0;
                    font-size: smaller;
                    padding-right: 90px;
                }

                h6 {
                    position: absolute;
                    margin: 0;
                    font-size: 13px;
                    font-weight: bolder;
                    bottom: 20px;
                    left: 260px;
                }

                .menu-check {
                    position: absolute;
                    bottom: 0px;
                    left: 300px;
                    display: flex;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                    margin: 0%;
                    width: 20%;
                    height: 60px;
                    border: #99E2D0;
                    background-color: #99E2D0;
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 15px;
                    transition: 1s;

                    i {
                        transition: all 1s linear;
                        font-size: 1rem;
                        background: white;
                        border-radius: 50%;
                        transform: rotate(180deg);
                    }
                }

            }

        }
    }
}

.commander {
    @include flexwrap();
    margin-top: 20%;

    .order {
        @include primarybtn();
        max-width: 380px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%), 0 2px 2px rgb(0 0 0 / 5%), 0 4px 4px rgb(0 0 0 / 5%), 0 8px 8px rgb(0 0 0 / 5%), 0 16px 16px rgb(0 0 0 / 5%);
    }
}

@media all and (min-width: 768px) {

    .menuz {
        margin-bottom: 0%;
    }

    .texte {
        width: 500px;
    }

    .commander {
        margin-top: 60px;
    }

}

@media all and (min-width: 1100px) {

    .menuz {
        margin-bottom: 0%;
    }

    .texte {
        width: 600px;
    }

    .commander {
        margin-top: 60px;
    }

}