@import "./sass/layout/header";
@import "./sass/components/variables";
@import "./sass/layout/body1";
@import "./sass/layout/body2";
@import "./sass/layout/body3";
@import "./sass/layout/footer";
@import "./sass/layout/mediaqtablette";
@import "./sass/layout/mediaqdesktop";
@import "./sass/layout/menu1";
@import "./sass/layout/menu2";
@import "./sass/layout/menu3";
@import "./sass/layout/menu4";
@import "./sass/layout/loader";


html {
    margin: auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
}