$direction: flex-direction;


@mixin flex() {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;


    @if $direction = row {
        &xCenter {
            justify-content: center;
        }

        &xSpaceBetween {
            justify-content: space-between;
        }

        &xSpaceAround {
            justify-content: space-around;
        }

        &xSpaceEvenly {
            justify-content: space-evenly;
        }

        
    }
}