$direction: flex-direction;
$wrap: flex-wrap;


@mixin flex($direction, $wrap) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;


    @if $direction =row {

        &xCenter {
            justify-content: center;
        }

        &xSpaceBetween {
            justify-content: space-between;
        }

        &xSpaceAround {
            justify-content: space-around;
        }

        &xSpaceEvenly {
            justify-content: space-evenly;
        }

        &yCenter {
            align-items: center;
        }
    }

    @if $direction =column {

        &xCenter {
            justify-content: center;
        }

        &xSpaceBetween {
            justify-content: space-between;
        }

        &xSpaceAround {
            justify-content: space-around;
        }

        &xSpaceEvenly {
            justify-content: space-evenly;
        }

        &yCenter {
            align-items: center;
        }
    }

    @if $flex-wrap =wrap {

        &xCenter {
            justify-content: center;
        }

        &xSpaceBetween {
            justify-content: space-between;
        }

        &xSpaceAround {
            justify-content: space-around;
        }

        &xSpaceEvenly {
            justify-content: space-evenly;
        }

        &yCenter {
            align-items: center;
        }
    }
}